html,
body {
  height: 100%;
}
body {
  background-color: rgba(130, 167, 167, 0.827);
}

hr {
  background-color: rgba(0, 0, 0, 0.378);
}

.index-body {
  background-color: rgba(130, 167, 167, 0.827);
  background-image: url(../img/Fanhe_Town_10_day_interval_contrast.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(130, 167, 167, 0.827);
}

#home{
  margin-left: 90%;
  margin-top:2%;
}

.hide {
  display: none;
}

.table {
  background: none;
  margin: 2%;
  margin-left: 14%;
}

.results-title {
  padding-top: 2%;
}

.teleport-widget-link {
  margin: 10%;
  padding-bottom: 5%;
}

.subtitle {
  text-decoration: underline;
}

#air-results {
  font-weight: bold;
}

#local-results {
  font-weight: bold;
}

#state-select {
  margin: 1.5%;
  width: 200px;
  height: 40px;
}

#search-input {
  margin-top: 5%;
  margin-left: 37%;
  width: 200px;
  height: 40px;
}

#check {
  margin-left: 46.5%;
  margin-top: 2%;
  background: lightgrey;
}

#index-subtitle {
  margin-left:27%;
}

#index-title {
  margin-left:32%;
  margin-top:16%;
}

#good {
  color: green;
}

#moderate {
  color: yellow;
}

#sensitive {
  color: rgb(217, 145, 10);
}

#unhealthy {
  color: orangered;
}

#very-unhealthy {
  color: rgb(143, 8, 66);
}

#hazardous {
  color: rgb(90, 7, 43);
}

#green {
  color: green;
}

#orange {
  color: orange;
}

#mid-orange {
  color: rgb(218, 123, 16);
}

#dark-orange {
  color: rgb(177, 97, 6);
}

#red {
  color: red
}