html, body {
    height: 100%;
}

body{
    background-color: rgba(130, 167, 167, 0.827);
}

hr {
    background-color: rgba(0, 0, 0, 0.378);
}

.hide {
    display: none;
}

.table {
    background: none;
    margin: 2%;
  margin-left: 14%;
}

.results-title {
    padding-top: 2%;
}

#search-input {
    margin-top: 2%;
   padding-left: 50%;
}

#check {
    margin-left: 50%;
    margin-top: 2%;
    background: lightgrey;
}

#good {
    color: green;
}

#moderate {
    color: yellow;
}

#sensitive {
    color: rgb(217, 145, 10);
}

#unhealthy {
    color:orangered
}

#very-unhealthy {
    color: rgb(143, 8, 66);
}

#hazardous {
    color: rgb(90, 7, 43);
}