html {
  max-height: 100%;
}

body {
  background-color: rgba(130, 167, 167, 0.827);
  max-height: 100%;
}

html { 
  background-color: rgba(130, 167, 167, 0.827);
  height: 100%;
}
hr {
  background-color: rgba(0, 0, 0, 0.378);
}
footer {
  display: flex;
  justify-content: center;
}
.index-html {
  height: 100%;
}

.html-results {
  height: auto;
}

.index-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(130, 167, 167, 0.827);
  background-image: url(../img/Fanhe_Town_10_day_interval_contrast.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.results-body{
  background-image: url(../img/pollution-facts.png);
  background-repeat: no-repeat;
  background-position: right top 120px;
  background-size: 50%;
}

.section {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-air {
  padding-bottom: 4%;
}

.hide {
  display: none;
}

.table {
  background: none;
  margin: 2%;
  margin-left: 14%;
}

.results-title {
  padding-top: 2%;
}

.teleport-widget-link {
  margin: 10%;
  padding-bottom: 5%;
}

.subtitle {
  text-decoration: underline;

}

#sticky-footer {
  position: absolute;
  bottom: 0;
}

#home{
  margin-left: 90%;
  margin-top:2%;
}

#air-results {
  font-weight: bold;
}

#local-results {
  font-weight: bold;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#state-select {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin-left: 2px;
}

#search-input {
  display: flex;
  justify-content: center;
  margin-right: 2px;
  width: 200px;
  height: 40px;
}

#check {
  margin-left: 46.5%;
  margin-top: 2%;
  background: lightgrey;
}

#index-subtitle {
  margin-left:27%;
}

#index-title {
  margin-left:32%;
  margin-top:10%;
}

#good {
  color: green;
  font-weight: bold;
}

#moderate {
  color: yellow;
  font-weight: bold;
}

#sensitive {
  color: rgb(217, 145, 10);
  font-weight: bold;
}

#unhealthy {
  color: orangered;
  font-weight: bold;
}

#very-unhealthy {
  color: rgb(143, 8, 66);
  font-weight: bold;
}

#hazardous {
  color: rgb(90, 7, 43);
  font-weight: bold;
}

#green {
  color: green;
  font-weight: bold;
}

#orange {
  color: orange;
  font-weight: bold;
}

#mid-orange {
  color: rgb(218, 123, 16);
  font-weight: bold;
}

#dark-orange {
  color: rgb(177, 97, 6);
  font-weight: bold;
}

#red {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .index-body {
    background-position: 0, center ;
  }

  #search-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 0;
    padding: 0;
  }
  #state-select {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .section {
    display: flex;
    /* margin-top: 120px; */
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  #index-subtitle {
  margin: auto;
}

#index-title {
  margin: auto;
}

#check {
  display: flex;
  justify-content: center;
  margin: 50px;
}
}

@media only screen and (max-width: 768px) {
  .index-body {
    background-position: 0, center ;
  }

  .results-body{
    background-image: url();
  }

  #search-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 0;
    padding: 0;
  }
  #state-select {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .section {
    display: flex;
    /* margin-top: 120px; */
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  #index-subtitle {
  margin: 0;
  display: flex;
  justify-content: center;
}

#index-title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 0;
}

#check {
  display: flex;
  justify-content: center;
  margin: 50px 200px;
}
}

